html,body{
    margin: 0
    padding: 0
    width: 100%
    height 100%
}
body{
    background-image:url('../images/bg.jpeg');
    // 设置背景图像的尺寸
    background-size: cover//cover:背景图像完全覆盖背景区域;
    background-position: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    font-smoothing:antialiased;
    font-weight: 300 //设置文本的粗细

// CSS  font-smoothing用于设置字体的抗锯齿或光滑度的属性。
// 有3个值：
// 1. “none” 用于小像素的文本；
// 2. “subpixel-antialiased” 浏览器默认；
// 3. “antialiased” 反锯齿，使文字看起来更清晰。

}